.Style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.StyleGenre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
    padding: 10px;


}
/*.dark{*/
/*    background-color: darkgray;*/
/*}*/
/*.light{*/
/*    background-color: white;*/
/*}*/